* {
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: AliceBlue;
}
div {
  float: left;
  position: relative;
  clear: both;
}
img {
  vertical-align: middle;
}
div.top {
  border-bottom: darkgrey solid 2px;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  clear: both;
  padding-left: 5px;
  margin: 0;
  background-color: AliceBlue;
  z-index: 2;
}
div.ButtonGroup {
  padding: 5px 1px 5px 1px;
  min-width: 100%;
  max-width: 100%;
}
div.content {
  position: relative;
  top: 64px;
  bottom: 41px;
  left: 0;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  clear: left;
  z-index: 1;
}
div.SymbolGroup {
  
}
div.imgDiv {
  min-height: 62px;
  margin: 5px;
  text-align: center;
}
span.descSpan {
  clear: right;
  text-align: left;
  margin-left: 20px;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  padding: 5px;
  margin: 0;
  background-color: AliceBlue;
  z-index: 2;
  vertical-align: bottom;
}
span.license {
  font-size: x-small;
}
